# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
*.env

# Logs
*.log
*.out
*.err

# OS-specific files
.DS_Store          # macOS Finder metadata
Thumbs.db          # Windows thumbnail cache

# ide
.vscode/
.ipynb_checkpoints
